<p>
  
  <%= form_tag root_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t('.search'), todo: nil, class: 'btn btn-default' %>
  <% end %>
  
  <% if params[:search].present? %>
    <%= button_to t('.clear_search'), root_path, method: :get, class: 'btn btn-default' %>
    </p><p>Found <%= @user.search_count params[:search] %> hits
    <hr>
  <% end %>
</p>
