<%= form_for(@tag, url: tags_path(return_todo_id: params[:return_todo_id])) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> <%= t('error_msg') %>:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <% if params[:return_todo_id].present? %><%= params[:return_todo_id] %><% end %>
    <%= f.submit %>
  </div>
<% end %>
