

<%= simple_form_for @todo, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> <%= t('.error_msg') %>:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <legend>
    <% if f.object.new_record? %>
      <%= t('.creating') %>
    <% else %>
      <%= t('.editing') %>
    <% end %>
  </legend>
  
  <%= f.input :todo, :input_html => { :class => "span6" } %>
  <% if f.object.new_record? == false %>
    <%= f.input :done, :as => :boolean %>
  <% end %>
  
  <div class="form-actions">
    
    <% if f.object.new_record? %>
      <%= f.button :submit, :class => 'btn-primary' %>
    <% else %>
      <%= button_to t('.update'), f.object, method: :post, class: 'btn btn-primary' %>
      <%= button_to t('.delete'), f.object, method: :delete, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger' %>
    <% end %>
    
  </div>
<% end %>
