<p id="notice"><%= notice %></p>

<p>
  <%= form_tag todos_url, method: 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", todo: nil %>
  <% end %>

  <% if params[:search] %>
    <%= button_to "Clear search", todos_path, method: :get %>
    </p><p>Found <%= search_count %> hits
  <% end %>
</p>

<table>
  <tr>
    <th>Todo task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td>
      <% if todo.done %>
        <font color="gray"><strike><%= todo.todo %></strike></font>
      <% else %>
        <%= todo.todo %>
      <% end %>
    </td>
    <td><%= button_to 'Edit', edit_todo_path(todo), method: :get %></td>
    <td><%= button_to 'Finished', finished_todo_path(todo) %></td>
    <td><%= button_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= button_to 'Remove all complete', remove_all_complete_todos_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  
<hr>
  
<%= paginate @todos %>

<br />

<%= link_to 'New Todo', new_todo_path, method: :get %>
<p>Remaining tasks: <%= incomplete_count %> out of <%= count %></p>
