<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h4 class="muted"><%= link_to t('.title'), root_path %></h4>
  </div>
  <hr />

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  
  <%= yield %>

</div>

</body>
</html>
